[Unit]
Description=Upload screenshots to Immich
After=network-online.target

[Service]
ExecStart=%h/.config/immich-screenshots/immich-screenshots
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=78

[Install]
WantedBy=default.target
